asgiref==3.12.1
bleak==3.0.2
certifi==2026.6.17
charset-normalizer==3.4.7
customtkinter==6.0.0
darkdetect==0.8.0
Django==5.2
dnspython==2.8.0
gunicorn==26.2.0
hidapi==0.15.0
idna==3.18
keyboard==0.13.5
mss==10.2.0
numpy==2.5.1
opencv-python==5.0.0.93
packaging==26.2
pymongo==4.17.0
requests==2.34.2
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
vgamepad==0.1.0
whitenoise==6.12.0
winrt-runtime==3.2.1
winrt-Windows.Devices.Bluetooth==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Devices.Radios==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Storage.Streams==3.2.1
yt-dlp==2026.6.9
